<main class='login-page'>
  <div class='form login-form'>
    <h2>Login</h2>
    <form>
      <div class='input-container {{className}}'>
        <label for='{{name}}'>{{label}}</label>
        {{{login}}}
        <span class='input-error'>{{loginError}}</span>
      </div>

      <div class='input-container {{className}}'>
        <label for='{{name}}'>{{label}}</label>
        {{{password}}}
        <span class='input-error'>{{passwordError}}</span>
      </div>

      {{{button}}}
    </form>

    <nav class='nav'>
      {{{link}}}
    </nav>
  </div>
</main>
