<main class='registration-page'>
  <div class='form registration-form'>
    <h2>Registration</h2>

    <form>
      <div class='input-container {{className}}'>
        {{{firstName}}}
        <span class='input-error'>{{nameError}}</span>
      </div>

      <div class='input-container {{className}}'>
        {{{secondName}}}
        <span class='input-error'>{{nameError}}</span>
      </div>

      <div class='input-container {{className}}'>
        {{{email}}}
        <span class='input-error'>{{emailError}}</span>
      </div>

      <div class='input-container {{className}}'>
        {{{login}}}
        <span class='input-error'>{{loginError}}</span>
      </div>

      <div class='input-container {{className}}'>
        {{{phone}}}
        <span class='input-error'>{{phoneError}}</span>
      </div>

      <div class='input-container {{className}}'>
        {{{password}}}
        <span class='input-error'>{{passwordError}}</span>
      </div>

      {{{button}}}
    </form>

    <nav class='nav'>
      {{{link}}}
    </nav>
  </div>
</main>
