<main class='change-profile-password'>

  {{{profileBackBar}}}

  {{{userAvatar}}}

  <div class='password-data-container'>
    <form>

      <div class='input-container {{className}}'>
        <span>Старый пароль</span>
        {{{oldPassword}}}
        <span class='input-error'>{{passwordError}}</span>
      </div>

      <div class='input-container {{className}}'>
        <span>Новые пароль</span>

        {{{newPassword}}}
        <span class='input-error'>{{passwordError}}</span>
      </div>

      <div class='input-container {{className}}'>
        <span>Повторите новый пароль</span>

        {{{repeatNewPassword}}}
        <span class='input-error'>{{passwordError}}</span>
      </div>

      {{{button}}}
    </form>
  </div>

</main>
