<div class='data-item-container'>
  <p>{{name}}</p>
  
  <input
    type='{{type}}'
    name='{{inputName}}'
    placeholder='{{value}}'
    focusout='{{focusout}}'
    class='item-value {{inputClass}}'
  />
  <span class='input-error'>{{inputError}}</span>
</div>
