<main class='change-profile-data'>

  {{{profileBackBar}}}

  {{{userAvatar}}}

  <div class='data-container'>
    <form>
      <div class='input-container {{className}}'>
        <span>Name</span>
        {{{name}}}
        <span class='input-error'>{{nameError}}</span>
      </div>

      <div class='input-container {{className}}'>
        <span>Surname</span>
        {{{surname}}}
        <span class='input-error'>{{nameError}}</span>
      </div>

      <div class='input-container {{className}}'>
        <span>Login</span>
        {{{login}}}
        <span class='input-error'>{{loginError}}</span>
      </div>

      <div class='input-container {{className}}'>
        <span>Email</span>
        {{{email}}}
        <span class='input-error'>{{emailError}}</span>
      </div>

      <div class='input-container {{className}}'>
        <span>Phone</span>
        {{{phone}}}
        <span class='input-error'>{{phoneError}}</span>
      </div>

      {{{button}}}
    </form>
  </div>

</main>
